* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.8;
  margin-bottom: 0;
}

/*@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-family: montserrat;
  font-size: 40px;
}

a {
  font-family: Montserrat;
  position: relative;
  text-decoration: none;
}

a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  background: black;
  transition: width .3s ease;
}

a:hover:after{
  width: 100%;
  left: 0%;
  background: black;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: red;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}*/

:root {
  --primarycolor: #ffffff;
  --daycolor: #ffbd2f;
  --pcolor: #d8d8d8;
  --secondarycolor: #333333;
  --titlecolor: #222222;
  --subtitlecolor: #888888;
  --accesscardbg1: #ff3a44;
  --accesscardbg2: #ffbd2f;
  --accesscardbg3: #0489ca;
  --navlinkshape: #0b4c61;
  --visitingbg: #0c5f79;
  --socialbg: #ffffff;
  --visitnmbrcolr1: #0489ca;
  --visitnmbrcolr2: #ffbd2f;
  --visitnmbrcolr3: #ff3a44;
  --poppins: "Poppins", sans-serif;
  --primaryweight: 400;
  --secondaryweight: 600;
  --mainweight: 700;
}

/* =============================================
                    Navbar Css Start
   ============================================= */

element.style {
  visibility: visible;
  transform: translate(599px, 430px);
}
.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 100;
  background-color: #ff451b;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}

.navbar-expand-lg {
  padding-top: 40px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: var(--poppins);
  font-size: 15px;
  font-weight: var(--primaryweight);
  color: var(--secondarycolor);
  padding-left: 19px;
  padding-right: 19px;
  position: relative;
  transition: all linear 0.2s;
}

.navbar-expand-lg .navbar-nav .nav-link::after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background: var(--navlinkshape);
  top: -35px;
  left: 18px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scale(0, 1);
  transform-origin: right center;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after {
  transform-origin: left center;
  transform: scale(1, 1);
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.navbar-collapse .button {
  padding: 13px 25px;
  border: 1px solid transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: var(--poppins);
  font-size: 15px;
  font-weight: var(--primaryweight);
  background: var(--accesscardbg1);
  color: var(--primarycolor);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.navbar-collapse .button:hover {
  background: transparent;
  border-color: var(--accesscardbg1);
  color: var(--accesscardbg1);
}

/* =============================================
                    Navbar Css End
   ============================================= */
/* =============================================
                    Banner Css Start
   ============================================= */

#banner {
  padding-bottom: 130px;
}
.banner_heading {
  padding-top: 116px;
}
.banner_heading h1 {
  font-family: var(--poppins);
  font-size: 48px;
  font-weight: var(--mainweight);
  color: var(--titlecolor);
  line-height: 58px;
  padding-bottom: 20px;
}
.banner_heading p {
  font-family: var(--poppins);
  font-size: 17px;
  font-weight: var(--primaryweight);
  color: var(--subtitlecolor);
  line-height: 27px;
  padding-right: 115px;
  padding-bottom: 28px;
}
.banner_btn button {
  padding: 18px 27px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: var(--poppins);
  font-size: 15px;
  font-weight: var(--primaryweight);
  background: var(--accesscardbg1);
  color: var(--primarycolor);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  border: 1px solid transparent;
}
.banner_btn button:hover {
  background: transparent;
  border-color: var(--accesscardbg1);
  color: var(--accesscardbg1);
}

.banner_video_img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-top: 97px;
  position: relative;
  z-index: 1;
}
.banner_video_img::after {
  content: " ";
  position: absolute;
  bottom: -76px;
  left: -115px;
  background: url(../image/bannershape2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 35%;
  z-index: -1;
}
.banner_video_img::before {
  content: " ";
  position: absolute;
  top: 83px;
  right: -123px;
  background: url(../image/bannershape1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 40%;
  z-index: -1;
}
.banner_video_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* =============================================
                    Banner Css End
   ============================================= */
/* =============================================
                    Access Css Satrt
   ============================================= */

#all_bg {
  background: url(../image/all-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.access_header {
}
.access_header h2 {
  font-family: var(--poppins);
  font-size: 38px;
  font-weight: var(--mainweight);
  color: var(--primarycolor);
  line-height: 48px;
  padding-top: 95px;
  text-transform: capitalize;
  width: 82%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.access_header p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--pcolor);
  font-size: 18px;
  line-height: 28px;
  width: 63%;
  margin: 0 auto;
  margin-bottom: 36px;
}

.access_item {
  width: 300px;
  background: var(--accesscardbg1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  z-index: 1;
}

.access_item::before {
  content: " ";
  background: url(../image/acceshape1.png);
  position: absolute;
  top: 152px;
  left: -105px;
  width: 35%;
  height: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  z-index: -1;
}

.access_item .access_img {
  padding-top: 45px;
  padding-bottom: 17px;
}

.access_items .access_heading h3 {
  font-family: var(--poppins);
  font-size: 22px;
  font-weight: var(--secondaryweight);
  color: var(--primarycolor);
  line-height: 32px;
  width: 76%;
  margin: 0 auto;
  padding-bottom: 11px;
}
.access_items .access_heading p {
  font-family: var(--poppins);
  font-weight: var(--primaryweight);
  color: var(--pcolor);
  font-size: 15px;
  line-height: 25px;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 91px;
}
.access_item_2 {
  width: 300px;
  background: var(--accesscardbg2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}
.access_item_2 .access_img {
  padding-top: 45px;
  padding-bottom: 17px;
}
.access_item_3 {
  width: 300px;
  background: var(--accesscardbg3);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}
.access_item_3::after {
  content: " ";
  background: url(../image/acceshape2.png);
  position: absolute;
  top: 130px;
  right: -134px;
  width: 45%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  object-fit: cover;
}

.access_item_3 .access_img {
  padding-top: 45px;
  padding-bottom: 17px;
}

/* =============================================
                    Access Css End
   ============================================= */
/* =============================================
                    dayreport Css Start
   ============================================= */
#day_report .report_header h2 {
  font-family: var(--poppins);
  font-size: 38px;
  font-weight: var(--mainweight);
  color: var(--primarycolor);
  line-height: 48px;
  padding-top: 95px;
  text-transform: capitalize;
  width: 82%;
  margin: 0 auto;
  padding-bottom: 40px;
}
#day_report .day {
  width: 309px;
}

#day_report .day h3 {
  font-family: var(--poppins);
  color: var(--daycolor);
  font-weight: var(--mainweight);
  font-size: 38px;
  line-height: 50px;
  margin-right: 28px;
}
#day_report .day h4 {
  font-family: var(--poppins);
  color: var(--primarycolor);
  font-weight: var(--secondaryweight);
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 15px;
  padding-right: 65px;
}
#day_report .day p {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 55px;
  width: 108%;
}

.visitor .visitor_review {
  background: var(--visitingbg);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 15px;
}
.visitor {
  margin-top: 130px;
  padding-bottom: 150px;
}
.visit {
  margin-top: 76px;
}

.visitor .visitor_review .number h3 {
  padding: 8px 13px;
  border-radius: 50px;
  background: var(--visitnmbrcolr1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 18px;
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--primarycolor);
}
.visitor .visitor_review .number2 h3 {
  padding: 8px 13px;
  border-radius: 50px;
  background: var(--visitnmbrcolr2);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 18px;
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--primarycolor);
}
.visitor .visitor_review .number3 h3 {
  padding: 8px 13px;
  border-radius: 50px;
  background: var(--visitnmbrcolr3);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 18px;
  font-family: var(--poppins);
  font-weight: var(--secondaryweight);
  color: var(--primarycolor);
}
.visitor .visitor_review .visitor_comment h4 {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--secondaryweight);
  font-size: 18px;
  line-height: 18px;
  padding-top: 19px;
  padding-left: 10px;
}
.visitor .visitor_review .visitor_comment p {
  padding: 19px 83px 11px 10px;
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 15px;
  line-height: 25px;
  padding-right: 45px;
  padding-bottom: 22px;
}

.visitor .visiting_img {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  position: relative;
  z-index: 1;
}
.visitor .visiting_img::after {
  content: " ";
  background: url(../image/acceshape3.png);
  position: absolute;
  top: 152px;
  right: -139px;
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  overflow: hidden;
  z-index: -1;
}
.visitor .visiting_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =============================================
                    dayreport Css End
   ============================================= */
/* =============================================
                    About Css Start
   ============================================= */

#about .about_header h2 {
  font-family: var(--poppins);
  font-size: 38px;
  font-weight: var(--mainweight);
  color: var(--primarycolor);
  line-height: 48px;
  text-transform: capitalize;
  margin-bottom: 20px;
  width: 94%;
}
#about .about_content .about_left .about_img {
  position: relative;
  z-index: 1;
}
#about .about_content .about_left .about_img::before {
  content: " ";
  position: absolute;
  top: 118px;
  left: -90px;
  background: url(../image/aboutshape1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 39%;
  height: 39%;
  z-index: -1;
}
#about .about_content .about_left .about_img::after {
  content: " ";
  position: absolute;
  top: 395px;
  right: -19px;
  background: url(../image/aboutshape2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 41%;
  height: 31%;
  z-index: -1;
}

#about .about_content .about_left .about_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
#about .about_content .about_right .vector_icon {
  padding-top: 133px;
  padding-bottom: 25px;
}
#about .about_content .about_right .vector_icon i {
  font-size: 80px;
  color: var(--accesscardbg2);
}

#about .about_content .about_right .right_content p {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
  padding-right: 160px;
}
#about .about_content .about_right .right_content h5 {
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: var(--mainweight);
  color: var(--primarycolor);
  line-height: 24px;
  margin-bottom: 15px;
}
#about .about_content .about_right .right_content span {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
}

/* =============================================
                    About Css End
   ============================================= */

/* =============================================
                    Focus Css Start
   ============================================= */

#focus .focus_bg {
  background: var(--visitingbg);
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}
#focus .focus_header h2 {
  font-family: var(--poppins);
  font-size: 48px;
  font-weight: var(--mainweight);
  color: var(--primarycolor);
  line-height: 60px;
  margin-left: 76px;
  margin-top: 60px;
  width: 96%;
}
.focus_btn button {
  padding: 18px 27px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: var(--poppins);
  font-size: 15px;
  font-weight: var(--primaryweight);
  background: var(--accesscardbg1);
  color: var(--primarycolor);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  border: 1px solid transparent;
  margin: 30px 0 75px 76px;
}
.focus_btn button:hover {
  background: transparent;
  border-color: var(--primarycolor);
  color: var(--primarycolor);
}

.focus_bg .focus_rit_cntnt p {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 18px;
  line-height: 28px;
  margin-top: 77px;
  width: 96%;
}

/* =============================================
                    Focus Css End
   ============================================= */
/* =============================================
                    Footer Css Start
   ============================================= */
#footer .top_img {
  padding-top: 60px;
  padding-bottom: 50px;
}
#footer .top_img img {
  width: 100%;
  height: 100;
}
#footer .img_cntnt {
  margin-left: 40px;
}
#footer .footer_logo {
  width: 216px;
}
#footer .footer_logo img {
  width: 100%;
  height: 100%;
}
#footer .footer_cntnt p {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 14px;
  line-height: 24px;
  width: 70%;
  padding-top: 23px;
}
#footer .social {
  width: 85%;
  margin: 0 auto;
}
#footer .social h5 {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: var(--secondaryweight);
  color: var(--primarycolor);
  line-height: 16px;
  margin-bottom: 31px;
}
#footer .social p {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 21px;
}
#footer .social_icon .fb_icn {
  margin-right: 18px;
  background: var(--socialbg);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#footer .social_icon .fb_icn i {
  font-size: 25px;
  margin-top: 11px;
  margin-left: 10px;
}
#footer .social_icon .twit_icn {
  margin-right: 18px;
  background: var(--socialbg);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#footer .social_icon .twit_icn i {
  font-size: 25px;
  margin-top: 11px;
  margin-left: 10px;
}
#footer .social_icon .linkd_icn {
  margin-right: 18px;
  background: var(--socialbg);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#footer .social_icon .linkd_icn i {
  font-size: 25px;
  margin-top: 11px;
  margin-left: 10px;
}
#footer .social_icon .skype_icn {
  margin-right: 18px;
  background: var(--socialbg);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#footer .quick {
  width: 60%;
  margin: 0 auto;
}
#footer .social_icon .skype_icn i {
  font-size: 25px;
  margin-top: 11px;
  margin-left: 10px;
}
#footer .quick .quick_head h5 {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: var(--secondaryweight);
  color: var(--primarycolor);
  line-height: 16px;
  margin-bottom: 60px;
}
#footer .quick .quick_link ul {
  display: contents;
}
#footer .quick .quick_link ul li {
  padding-bottom: 20px;
}
#footer .quick .quick_link ul li a {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 14px;
  line-height: 16px;
}
#footer .location {
  width: 70%;
  margin: 0 auto;
}
#footer .location .location_head h5 {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: var(--secondaryweight);
  color: var(--primarycolor);
  line-height: 16px;
  margin-bottom: 60px;
}
#footer .location .address p {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
}
#footer .location .address span {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 14px;
  line-height: 24px;
}
#footer .bottom_img {
  padding-bottom: 50px;
}
#footer .bottom_img img {
  width: 100%;
  height: 100%;
}

.copy_right {
  padding-bottom: 45px;
}
.copy_right span {
  font-family: var(--poppins);
  color: var(--pcolor);
  font-weight: var(--primaryweight);
  font-size: 14px;
  line-height: 24px;
}

/* =============================================
                    Footer Css End
   ============================================= */
